<table border="1">
  <thead>
      <tr>
          <th>Student ID</th>
          <th>Name</th>
          <th>DOB</th>
          <th>Gender</th>
          <th>CourseFee</th>            
      </tr>
  </thead>
  <tbody>
      <tr *ngFor='let student of students'>
          <td>{{student.ID | uppercase}}</td>
          <td>{{student.Name | myTitle:student.Gender}}</td>
          <td>{{student.DOB | date:'dd/MM/yyyy'}}</td>
          <td>{{student.Gender | lowercase}}</td>
          <td>{{student.CourseFee | currency:'USD':true}}</td>
      </tr>
  </tbody>
</table>
<div>
  <h4>
    Welcome to {{title}}!
  </h4>
  <br/>
  <app-student></app-student>
  <hr/>
  <app-warning-alert></app-warning-alert>
  <app-success-alert></app-success-alert>
  <hr/>
  <app-databinding></app-databinding>
  <hr/>
  <app-student-list></app-student-list>
  <hr/>
  <app-directives></app-directives>
</div>