<nav class="navbar navbar-default" >
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true"></div>
            <ul class="navbar-nav nav">
                <li><a [routerLink] = "['/home']">Home </a></li>
                <li><a [routerLink] = "['/about']">About</a></li>
                <li><a [routerLink] = "['/team']">Our Team</a></li>
                <li><a [routerLink] = "['/contact']">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>


